@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

* {
    scrollbar-width: thin;
}
button {
  box-sizing: border-box !important;
}
  
  .player-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .selecto-selection {
    background: rgba(0, 216, 214, 0.1) !important;
    border: 1px solid rgba(0, 216, 214, 1) !important;
  }
  
  @layer utilities {
    @variants responsive {
      .masonry {
        column-gap: 1.5em;
        column-count: 1;
      }
      .masonry-sm {
        gap: 0.5rem;
        column-count: 2;
      }
    }
  }
  

.ScrollAreaRootH {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--black-a7);
  --scrollbar-size: 10px;
  position: absolute;
  bottom: 4px;
  left: 0;
  background: transparent;
}

.ScrollAreaRootV {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--black-a7);
  --scrollbar-size: 10px;
  position: absolute;
  top: 0;
  right: 4px;
  background: transparent;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: var(--black-a6);
  transition: background 160ms ease-out;
}
.ScrollAreaScrollbar:hover {
  background: var(--black-a8);
}
.ScrollAreaScrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}
.ScrollAreaScrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollAreaThumb {
  flex: 1;
  background: var(--mauve-10);
  border-radius: var(--scrollbar-size);
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}