@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    
    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 20%;
    
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 20%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 63%;
  }

  .dark {
    --radius: 0.75rem;
    
    --background: 220 13% 5%;
    --foreground: 0 0% 93%;
    
    --card: 220 13% 9%;
    --card-foreground: 0 0% 93%;
    
    --popover: 220 13% 9%;
    --popover-foreground: 0 0% 93%;
    
    --primary: 85 100% 60%;
    --primary-foreground: 0 0% 9%;
    
    --secondary: 220 13% 15%;
    --secondary-foreground: 0 0% 93%;
    
    --muted: 220 13% 15%;
    --muted-foreground: 0 0% 63%;
    
    --accent: 85 100% 60%;
    --accent-foreground: 0 0% 9%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 93%;
    
    --border: 85 100% 60% / 0.15;
    --input: 0 0% 100% / 0.15;
    --ring: 85 100% 60%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
